target/debug/deps/rust_interact-8b3af70b29d65363 filter=lfs diff=lfs merge=lfs -text
target/debug/* filter=lfs diff=lfs merge=lfs -text
target/debug/rust-interact filter=lfs diff=lfs merge=lfs -text
*.largefileextension filter=lfs diff=lfs merge=lfs -text
